header
  .container
    .header
      .row
        .col-2
          .header-logo
            a
              i.fa-solid.fa-print
              span SPSS
        .col-7
          .header-menu
            ul.header-list
              li.header-item
                a.header-link(href='/') Trang chủ
              li.header-item
                a.header-link(href='/') FAQ
              li.header-item
                a.header-link(href='/') Hướng dẫn
              li.header-item
                a.header-link(href='/') Liên hệ
        .col-3
            
           
