extends ../../layouts/default.pug
block main
  div(class="homepage")
    div(class="homepage-skin")
    div(class="homepage-img")
      img(src="images//400657811_921178469442580_5208366622864175583_n (1).jpg" alt="homepage-img")
    div(class="homepage-content")
      div(class="homepage-title")
        h1 ĐẠI HỌC BÁCH KHOA - ĐHQG TP.HCM
      div(class="homepage-subtitle")
        h2 HỆ THỐNG IN ẤN THÔNG MINH
      div(class="homepage-underline")
        strong ---------------------------