extends ../../layouts/default.pug
block main 
  .history-section
    .container
      .history-main
        h2.history-title L&#x1ECB;ch s&#x1EED; in
        .history-table
          table
            thead
              tr.history-table-header
                th ID
                th T&ecirc;n file
                th Th&#x1EDD;i gian in
                th Ng&agrave;y
                th ID m&aacute;y in
                th Lo&#x1EA1;i gi&#x1EA5;y
                th S&#x1ED1; t&#x1EDD;
                th Gi&aacute;
            tbody.history-table-body
              tr
                td #20462
                td CA.pdf
                td 12:21 AM - 12:22 AM
                td 13/05/2022
                td #001
                td A4
                td 5
                td 2000&dstrok;
              tr
                td #18933
                td DSA.pdf
                td 12:22 AM - 12:24 AM
                td 13/05/2022
                td #002
                td A4
                td 25
                td 10000&dstrok;
              tr
                td #41569
                td PPL.docx
                td 0:00 PM - 0:01 AM
                td 23/05/2022
                td #001
                td A4
                td 10
                td 20000&dstrok;
              tr
                td #21462
                td DoNotOpen.pdf
                td 12:21 AM - 12:22 AM
                td 15/05/2022
                td #001
                td A4
                td 69
                td 12200&dstrok;
          .history-pagination
            span.previous Previous
            span.page.active 1
            span.page 2
            span.page 3
            span.next Next
          .print-history
            span In l&#x1ECB;ch s&#x1EED;
            i.fa-solid.fa-print
